<%= render 'navbar'%>
<style>
h1 {text-align: center;}
div {text-align: center;}

body {
  padding-top: 60px;
  background: #227722;
}
</style>

<body>
  <%= form_with(model: blog, local: true) do |form| %>
    <% if blog.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

        <ul>
        <% blog.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <h2> Blog Title </h2>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <h2> Blog Descrpition </h2>
      <%= form.text_area :description %>
    </div>

    <div class="actions">
      <input type="submit" class="btn btn-secondary" value="Update" />
    </div>
  <% end %>
</body>