<p id="notice"><%= notice %></p>

<%= render 'navbar'%>

<style>

h1 {text-align: center;}
h3 {text-align: center;}
tr {text-align: center;}
body {padding-top: 40px;}

#blog {
  width: 850px;
  margin: auto;
  border: 10px solid;
  margin-top: 25px;
  margin-bottom: 25px;
  background: #4046FF;
}

#blogs {
  background: #EBFBFF;
}

</style>

<body id='blogs'>
  <div id='heading'>
    <h1>Posts</h1>
  </div>
    <% @blogs.each do |blog| %>
      <div id='blog'>
        <h3><%= blog.title %></h3>
        <p>
          <a class="btn btn-secondary"<%= link_to 'Show', blog%></a>

          <% if admin_signed_in? %>
            <a class="btn btn-secondary"<%=link_to 'Edit', edit_blog_path(blog)%></a>
        <% end %>
        </p>
      </div>
    <% end %>
</body>

<%= render 'bottom_bar'%>
